{% extends "equipments/base.html" %}
{% block title %}My List - ISDL{% endblock %}
{% load static %}

  {%block body %}
    <div id="wrapper">
      <div id="page-wrapper">
        <div class="row">
            <div class="panel panel-default full-width">
              <div class="panel-body full-width full-height">
                          
                <h3 class="page-header">パスワード変更完了</h3>

                {% if error_message %}
                <p><strong>{{ error_message }}</strong></p>
                {% endif %}

                  </tbody>
                </table>
                  </tbody>
                </table>
                  </tbody>
                </table>
                  </tbody>
                </table>
                  </tbody>
                </table>
                  </tbody>
                </table>
                  </tbody>
                </table>
                  </tbody>
                </table>
                  </tbody>
                </table>
                  </tbody>
                </table>

              </div>
              
            </div>
        </div>
      </div>
    </div>

  {% endblock %}
